/*******************************************************************
* Breakpoints
*******************************************************************/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 575.98px;
// Small tablets (portrait view)
$screen-md-min: 767.98px;
// Tablets and small desktops
$screen-lg-min: 991.98px;
// Large tablets and desktops
$screen-xl-min: 1199.98px;