/*---------------------------------------------------------------------------
* Breakpoints
---------------------------------------------------------------------------*/
$screen-sm-min: 575.98px;
$screen-md-min: 767.98px;
$screen-lg-min: 991.98px;
$screen-xl-min: 1199.98px;
$screen-xxl-min: 1289.98px;